<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Resgression Test">
    <classes>
      
      <class name="com.amazon.test.SignInTest"/>
      <class name="com.amazon.test.HomePageTest"/>
      <class name="com.amazon.test.SearchResultsTest"/>
      <class name="com.amazon.test.AddToCartTest"/>
      <class name="com.amazon.test.ShippingDetailsTest"/>        
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
